# Virtual Environment
venv/
.venv/
env/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
.cache/

# Large Data Folders
Task02_Heart/
Task04_Hippocampus/
Task05_Prostate/
Task09_Spleen/
data/
raw_data/
preprocessed_data/

# Specific Large Data Formats
*.nii.gz
*.nii
*.mhd
*.raw
*.npz
*.h5

# Results (Push images and metrics)
# (Implicitly included because they are not ignored above)

# Dashboard Dependencies
3d-medical-dashboard/node_modules/
3d-medical-dashboard/dist/

# OS specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
